@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.tablet-lspd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .tablet-lspd h1 {
    font-family: "Roboto", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 48px;
    margin-top: 50px; }
  .tablet-lspd p {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase; }
  .tablet-lspd span {
    position: relative;
    width: 100%;
    border-style: solid;
    border-width: 10px 0px 0px 0px;
    border-color: #022249;
    margin-top: 10em; }
  .tablet-lspd img {
    width: 15%;
    position: absolute;
    margin-bottom: 6.2em; }
  .tablet-lspd .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10em; }
    .tablet-lspd .box-container .box h2 {
      font-family: "Roboto", Sans-serif;
      font-size: 36px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 48px;
      padding: 5px;
      text-align: center; }
    .tablet-lspd .box-container .box p {
      margin-left: 1em;
      font-family: "Roboto", Sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase; }
    .tablet-lspd .box-container .box .input-box {
      margin: 15px; }
      .tablet-lspd .box-container .box .input-box i {
        margin-left: 5px; }
    .tablet-lspd .box-container .box button {
      font-family: "Roboto", Sans-serif;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      fill: #FFFFFF;
      background-color: #FFFFFF;
      border-style: solid;
      border-width: 1px;
      border-color: #022249;
      border-radius: 5px 5px 5px 5px;
      padding: 3px 6px;
      margin-top: 1em;
      margin-left: 5em; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #022249;
  margin-top: 8rem;
  height: 7.5em; }
  footer p {
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    padding: .2em; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 2%;
  background-color: #e3e8f1;
  position: relative; }
  nav h1 {
    font-family: "Roboto", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 48px;
    margin-left: 2.5em; }
  nav img {
    position: absolute;
    width: 80px;
    left: 0;
    top: 0; }
  nav #userNameSpan {
    margin-left: auto;
    margin-right: 1em;
    font-size: 18px;
    font-weight: 500;
    color: #333; }
  nav ul {
    display: flex;
    align-items: center; }
    nav ul li {
      list-style: none;
      margin-right: 20px; }
      nav ul li a {
        text-decoration: none;
        color: #34495e;
        font-family: "Roboto", Sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 10px; }
    nav ul .container {
      position: relative;
      width: 180px;
      /* Ancho ajustado para ser más compacto */
      height: 50px;
      /* Altura ajustada para alinearse mejor con el nav */ }
      nav ul .container input {
        font-family: "Roboto", Sans-serif;
        /* Misma fuente que el nav */
        font-size: 14px;
        /* Tamaño de fuente acorde con el nav */
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 30px;
        /* Ancho más pequeño para iniciar */
        height: 30px;
        /* Altura más pequeña para alinearse con los elementos del nav */
        outline: none;
        border: none;
        background: #2c3e50;
        /* Azul oscuro */
        color: white;
        text-shadow: 0 0 10px #2c3e50;
        padding: 0 50px 0 15px;
        /* Ajustamos el padding */
        border-radius: 20px;
        /* Radio de borde ajustado */
        box-shadow: 0 0 10px 0 #2c3e50, 0 10px 15px 0 rgba(0, 0, 0, 0.2);
        /* Reducimos la sombra */
        transition: all 0.7s;
        opacity: 0;
        z-index: 5;
        font-weight: 500;
        letter-spacing: 0.05em;
        /* Espaciado de letras más sutil */ }
        nav ul .container input:hover {
          cursor: pointer; }
        nav ul .container input:focus {
          width: 180px;
          /* Ancho del input expandido */
          opacity: 1;
          cursor: text; }
        nav ul .container input:focus ~ .search {
          right: -150px;
          /* Ajustamos el movimiento del icono */
          background: #34495e;
          /* Gris oscuro */
          z-index: 6; }
          nav ul .container input:focus ~ .search::before {
            top: 0;
            left: 0;
            width: 25px; }
          nav ul .container input:focus ~ .search::after {
            top: 0;
            left: 0;
            width: 25px;
            height: 2px;
            border: none;
            background: white;
            border-radius: 0%;
            transform: rotate(-45deg); }
        nav ul .container input::placeholder {
          color: white;
          opacity: 0.5;
          font-weight: 400; }
      nav ul .container .search {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 60px;
        /* Tamaño ajustado del icono de búsqueda */
        height: 60px;
        /* Tamaño ajustado del icono de búsqueda */
        background: #2c3e50;
        /* Azul oscuro */
        border-radius: 50%;
        transition: all 0.7s;
        z-index: 4;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4); }
        nav ul .container .search:hover {
          cursor: pointer; }
        nav ul .container .search::before {
          content: "";
          position: absolute;
          margin: auto;
          top: 15px;
          right: 0;
          bottom: 0;
          left: 15px;
          width: 10px;
          height: 2px;
          background: white;
          transform: rotate(45deg);
          transition: all 0.5s; }
        nav ul .container .search::after {
          content: "";
          position: absolute;
          margin: auto;
          top: -5px;
          right: 0;
          bottom: 0;
          left: -5px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 2px solid white;
          transition: all 0.5s; }

.fichas__container {
  display: flex;
  justify-content: center; }
  .fichas__container .fichas__ciudadanos {
    display: flex; }
    .fichas__container .fichas__ciudadanos .box__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 50px;
      background-color: #fffcfc;
      flex-grow: 1;
      padding: 24px; }
      .fichas__container .fichas__ciudadanos .box__container .box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: #FFFFFF;
        height: 380px;
        margin: 20px;
        padding: 20px 15px;
        border-radius: 16px 16px 16px 16px;
        box-shadow: 2px 7px 13px 0px rgba(0, 0, 0, 0.2);
        text-align: center; }
        .fichas__container .fichas__ciudadanos .box__container .box img {
          width: 200px;
          border-radius: 16px 16px 16px 16px; }
        .fichas__container .fichas__ciudadanos .box__container .box h1 {
          color: #2c3e50;
          font-size: 18px;
          font-family: "Roboto", Sans-serif;
          margin-top: 15px;
          padding: 0px; }
        .fichas__container .fichas__ciudadanos .box__container .box p {
          color: #354352;
          margin-top: 5px; }
        .fichas__container .fichas__ciudadanos .box__container .box .status-container {
          display: flex;
          gap: 10px;
          /* Espacio entre las etiquetas */
          margin-top: 10px; }
        .fichas__container .fichas__ciudadanos .box__container .box .status {
          padding: 3px 8px;
          border-radius: 20px;
          font-family: "Roboto", Sans-serif;
          text-transform: uppercase;
          font-size: 10px;
          /* Tamaño más pequeño */
          color: white; }
          .fichas__container .fichas__ciudadanos .box__container .box .status.danger {
            background-color: #e74c3c;
            /* Rojo para peligroso */ }
          .fichas__container .fichas__ciudadanos .box__container .box .status.byc {
            background-color: #f39c12;
            /* Naranja para búsqueda y captura */ }

.profile__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin: 50px 10px; }
  .profile__container .profile__info .profile .profile__box {
    display: flex;
    flex-direction: column;
    padding: 20px; }
    .profile__container .profile__info .profile .profile__box img {
      width: 200px;
      box-shadow: 2px 7px 13px 0px rgba(0, 0, 0, 0.2); }
    .profile__container .profile__info .profile .profile__box h1 {
      margin-top: 10px;
      color: #34495e;
      font-family: "Roboto", Sans-serif; }
    .profile__container .profile__info .profile .profile__box .profile-item {
      display: flex;
      justify-content: flex-start;
      padding: 2px; }
      .profile__container .profile__info .profile .profile__box .profile-item h3 {
        margin-right: 10px;
        font-family: "Roboto", Sans-serif; }
      .profile__container .profile__info .profile .profile__box .profile-item p {
        margin: 0;
        font-family: "Roboto", Sans-serif; }
      .profile__container .profile__info .profile .profile__box .profile-item #user-note {
        max-width: 100px;
        word-wrap: normal; }
  .profile__container .profile__info .profile__edit {
    display: flex;
    flex-direction: column; }
    .profile__container .profile__info .profile__edit button {
      margin-top: 6px;
      margin-left: 15px;
      padding: 10px 5px;
      background-color: #1977d4;
      color: #ffffff;
      font-size: 14px;
      border-radius: 2px;
      border: 1px solid;
      font-family: "Roboto", Sans-serif; }
      .profile__container .profile__info .profile__edit button:hover {
        color: #d42f2f;
        background-color: #ffffff; }
    .profile__container .profile__info .profile__edit .del__button {
      background-color: #d42f2f; }
